.config/zsh/history
.config/mpv/fonts
.config/mpv/scripts
.config/mpv/uosc.zip
.config/zsh/.zcompdump.nixos.167429
.local/sync/files/home-manager/todo.md
/.config/doom/snippets/js-mode/
/.config/doom/snippets/js2-mode/
/.config/doom/snippets/js3-mode/
